<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Black Diamond</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
<body>
    <header>
        <div class="top-header">
            <div id="mobile">
                <div class="menu">
                    <label for="check-menu"><i class="fas fa-chevron-circle-down"></i></label>
                </div>
                <input type="checkbox" id="check-menu">
                    <div class="container-menu">
                        <div class="cont-menu">
                            <nav>
                                <a href="/login"><i class="fas fa-sign-in-alt"></i>Log in</a>
                                <a href="/register"><i class="fas fa-user-plus"></i>Sign up</a>
                                <a href="/cart.html"><i class="fas fa-cart-plus"></i>carrito</a>
                                <a href="#">Todos</a>
                                <a href="#">Camisetas</a>
                                <a href="#">Joggers</a>
                                <a href="#">Jeans</a>
                                <a href="#">Chaquetas</a>
                                <a href="#">Sacos</a>
                            </nav>
                            <label for="check-menu">✖️</label>
                        </div>
                    </div>
            </div>
            <div class="links">
                <i id="mobile" class="fas fa-cart-plus"></i>
                <ul id="desktop">
                    <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Log in</a></li> 
                    <li><a href="/register"><i class="fas fa-user-plus"></i>Sign up</a></li>
                    <li><a href="/cart.html"><i class="fas fa-cart-plus"></i>Carrito</a></li>
                </ul>
            </div>
            <div class="buscar">
                    <label for="check-buscar"><i class="fas fa-search"></i></label>
                    <input type="checkbox" id="check-buscar">
                    <div class="container-buscar">
                            <nav>
                                <input type="text" id="buscar" placeholder="buscar">
                            </nav>
                            <label for="check-buscar">✖️</label>
                    </div>
            </div>
        </div>
        <div class="logo">
            <a href = "/"><img class="logo-mobile" src="/images/BD mobile.png"></a>
            <a href="/"><img class="logo-desktop" src="/images/BD.png"></a>
        </div>
        <div class="navbar">
            <ul id="desktop">
                <a href="#"><li>Todos</li></a>
                <a href="#"><li>Camisetas</li></a>
                <a href="#"><li>Joggers</li></a>
                <a href="#"><li>Jeans</li></a>
                <a href="#"><li>Chaquetas</li></a>
                <a href="#"><li>Sacos</li></a>
            </ul>
        </div>
    </header>
    <main>
        <section  class="product-img">
            
            <form class="product"action="/">   
                <h3>Nombre del producto(s)</h3> 
                <br>
                <div class="objetodecompra">
                <img src="/images/sample.png">
                <img src="/images/sample.png">
                </div>
               
            <div>
                <h3>Cantidad</h3>
                <select class="cantidad" name="cantidad" id="qty_SK186AC32SCTCO-1583467" title="Cantidad">
                 <option selected="opcion">1</option>
                 <option>2</option>
                 <option>3</option>
                 <option>4</option>
                 <option>5</option>
                 <option>6</option>
                 <option>7</option>
                 <option>8</option>
                 <option>9</option>
                 <option>10</option>
                </select>
                <h4>TALLA</h4>
                <select class="talla" name="talla" id="talla" title="talla">
                    <option selected="opcion">S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                </select>
            </div>
             <div>
                <h3>Precio</h3>
                <p class="preciodelproducto">$&nbsp;00.00 VALOR</p>
            </div>
        <br>
            <section>
            <div class="product-form">
                <button><a href="/cart.html"><i class="fas fa-cart-plus"></i>Agregar al carrito</a>  </button>  
        <br>      
            </div>
           </section>
         </form>
        </section>
       




    </main>
    <footer>
        <section class="footer">
            Contáctanos
            <div class="contactos">
                <div class="whatsapp"><img src="/images/whatsapp.png"> Whatsapp<br> 3xx-xxx-xxx</div>
                <div class="correo"><img src="/images/correo.png"> Correo electrónico<br> BlackDiamond@gmail.com</div>
            </div>
        </section>
        <section class="footer">
            <div>Redes Sociales</div>
            <div class="redes">
                <img src="/images/facebook.png">
                <img src="/images/instagram.png">
                <img src="/images/twitter.png">
            </div>
        </section>
    </footer>

</body>
</html>