<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Black Diamond</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
<body>
    <header>
        <div class="top-header">
            <div id="mobile">
                <div class="menu">
                    <label for="check-menu"><i class="fas fa-chevron-circle-down"></i></label>
                </div>
                <input type="checkbox" id="check-menu">
                    <div class="container-menu">
                        <div class="cont-menu">
                            <nav>
                                <a href="/login"><i class="fas fa-sign-in-alt"></i>Log in</a>
                                <a href="/register"><i class="fas fa-user-plus"></i>Sign up</a>
                                <a href="/cart.html"><i class="fas fa-cart-plus"></i>carrito</a>
                                <a href="#">Todos</a>
                                <a href="#">Camisetas</a>
                                <a href="#">Joggers</a>
                                <a href="#">Jeans</a>
                                <a href="#">Chaquetas</a>
                                <a href="#">Sacos</a>
                            </nav>
                            <label for="check-menu">✖️</label>
                        </div>
                    </div>
            </div>
            <div class="links">
                <i id="mobile" class="fas fa-cart-plus"></i>
                <ul id="desktop">
                    <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Log in</a></li> 
                    <li><a href="/register"><i class="fas fa-user-plus"></i>Sign up</a></li>
                    <li><a href="/cart.html"><i class="fas fa-cart-plus"></i>Carrito</a></li>
                </ul>
            </div>
            <div class="buscar">
                    <label for="check-buscar"><i class="fas fa-search"></i></label>
                    <input type="checkbox" id="check-buscar">
                    <div class="container-buscar">
                            <nav>
                                <input type="text" id="buscar" placeholder="buscar">
                            </nav>
                            <label for="check-buscar">✖️</label>
                    </div>
            </div>
        </div>
        <div class="logo">
            <a href = "/"><img class="logo-mobile" src="/images/BD mobile.png"></a>
            <a href="/"><img class="logo-desktop" src="/images/BD.png"></a>
        </div>
        <div class="navbar">
            <ul id="desktop">
                <a href="#"><li>Todos</li></a>
                <a href="#"><li>Camisetas</li></a>
                <a href="#"><li>Joggers</li></a>
                <a href="#"><li>Jeans</li></a>
                <a href="#"><li>Chaquetas</li></a>
                <a href="#"><li>Sacos</li></a>
            </ul>
        </div>
    </header>
    <main>
        <form class="formulario-register" action="/">  
            <div >
                <label class="label">Nombre</label> 
            </div>
            <div>
                <input class="input" type="text" placeholder="" name="nombre" required>
            </div>
            <br>
            <div>
                <label class="label">Usuario</label> 
            </div>
            <div> 
                <input class="input" type="text" placeholder="" name="usuario" required>
            </div>
            <br>
            <div>    
                <label class="label">Correo Electrónico</label>
            </div>
            <div>
                <input class="input" type="email" placeholder="" name="correo" required>
            </div>
            <br>
            <div>    
                <label class="label">Dirección</label>
            </div>
            <div>    
                <input class="input" type="text" placeholder="" name="domicilio" required>
            </div>
            <br>
            <div>    
                <label class="label">Contraseña</label>
            </div>
            <div>    
                <input class="input" type="password" placeholder="" name="contraseña" required>
            </div>
            <br>
            <div>    
                <label class="label">Confirmar Contraseña</label>
            </div>
            <div>    
                <input class="input" type="password" placeholder="" name="contraseña" required>
            </div>
            <br>
            <div class="boton">    
                <a href="/"><button  type="submit">Enviar</button></a>
                <button  type="reset">Borrar</button>
            </div>    
        </form>
    </main>
    <footer>
        <section class="footer">
            Contáctanos
            <div class="contactos">
                <div class="whatsapp"><img src="/images/whatsapp.png"> Whatsapp<br> 3xx-xxx-xxx</div>
                <div class="correo"><img src="/images/correo.png"> Correo electrónico<br> BlackDiamond@gmail.com</div>
            </div>
        </section>
        <section class="footer">
            <div>Redes Sociales</div>
            <div class="redes">
                <img src="/images/facebook.png">
                <img src="/images/instagram.png">
                <img src="/images/twitter.png">
            </div>
        </section>
    </footer>
</body>

</html>